# Build
/build/
/out/
/bin/
/sandbox

# CMake
CMakeFiles/
CMakeCache.txt
cmake-build-*/

# Compiled files
*.o
*.obj
*.exe
*.out
*.a
*.so
*.dll

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db